@use "@/shared/styles/variables" as *;

.setupCard {
  background: color-mix(in srgb, var(--neon-border-color), transparent 95%);
  backdrop-filter: blur(10px);

  padding: 2.2rem;
  border: 2px solid var(--neon-border-color);
  box-shadow: var(--neon-shadow);
  border-radius: 15px;
  z-index: 10;
  max-width: 400px;
  transition: var(--neon-transition);

  .glitchText {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--neon-font-color);
    text-align: center;
    text-shadow: var(--neon-shadow);
    margin-bottom: 1.2rem;
    letter-spacing: 5px;

    @include neon-theme-anim(2.2s, 3.5s);
  }
}

.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;

  .rangeLabel {
    font-size: 1.2rem;
    color: var(--sub-font-color);
    letter-spacing: 2px;
  }
}

.stepperWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .stepBtn {
    width: 22px;
    height: 22px;
    background: transparent;
    border: 2px solid var(--neon-border-color);
    border-radius: 5px;
    color: var(--neon-border-color);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1px;

    @include button-interaction {
      background: var(--neon-border-color);
      color: #fff;
      box-shadow: 0 0 15px var(--neon-border-color);
      transform: translateY(-2px);
    }
  }

  .countDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 80px;

    .countNumber {
      font-size: 2rem;
      font-weight: 900;
      color: var(--neon-font-color);
      text-shadow: var(--neon-shadow);
      transition: var(--neon-transition);

      @include neon-theme-anim(1.5s, 3s);
    }

    .countUnit {
      font-size: 1.2rem;
      color: var(--sub-font-color);
    }
  }
}

.nameList {
  height: 110px;
  overflow-y: scroll;
  padding-right: 8px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--neon-border-color);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--neon-border-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--neon-border-color);
  }

  .nameInput {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .dot {
      width: 12px;
      height: 12px;
      background-color: var(--neon);
      margin-right: 15px;
      box-shadow: 0 0 10px var(--neon);
      border-radius: 50%;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--border-color);
      color: var(--font-color);
      padding: 5px;
      font-size: 1.1rem;
      outline: none;
      width: 80%;
      transition: var(--neon-transition);

      &::placeholder {
        color: var(--sub-font-color);
        opacity: 0.5;
      }

      &:focus {
        @include shadow-inset-center();
        background: color-mix(in srgb, var(--neon), transparent 90%);
      }

      @include button-interaction {
        &:not(:focus) {
          transform: scale(1.05);
          border-bottom-color: var(--neon);
        }
      }
    }
  }
}

.startButton {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  background: transparent;

  color: var(--neon-background-color);

  border: 2px solid var(--neon-border-color);
  border-radius: 15px;

  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--neon-transition);

  @include button-interaction {
    background: var(--neon-border-color);
    color: #fff;
    box-shadow: 0 0 20px var(--neon-border-color);
  }
}
