@keyframes neon-flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: var(--current-shadow);
    opacity: 1;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    opacity: 0.8;
  }
}

@keyframes neon-pulse {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.3) drop-shadow(0 0 5px var(--neon-magenta));
  }
}

@mixin neon-flicker-anim($duration: 3s) {
  --current-shadow: var(--neon-shadow);
  animation: neon-flicker $duration infinite;
}

@mixin neon-pulse-anim($duration: 2s) {
  animation: neon-pulse $duration infinite alternate;
}
