@forward "animations";

:root {
  --font-color: #1a1a1a;
  --sub-font-color: #636e72;

  --neon-cyan: #00f3ff;
  --neon-pink: #ff00de;
  --neon-green: #00b894;
  --neon-magenta: #e056fd;
  --neon-electric-blue: #0984e3;
  --neon-transition: all 0.3s ease;
}

.light {
  --background-color: #f8f9fa;
  --background-rgb: 248, 249, 250;
  --border-color: #e9ecef;
  --sidebar-bg: #ffffff;

  --font-color: #1a1a1a;
  --sub-font-color: #636e72;

  --main-color: var(--neon-magenta);

  --canvas-bg: rgba(255, 255, 255, 0.4);
  --canvas-border: rgba(0, 0, 0, 0.1);
  --track-color: rgba(0, 0, 0, 0.17);
  --neon-primary: #00b894;

  --neon-font-color: #ffffff;
  --neon-background-color: var(--neon-magenta);
  --neon-border-color: var(--neon-magenta);
  --neon-shadow: 0 0 2px var(--neon-magenta), 0 0 8px var(--neon-magenta);
}

.dark {
  --background-color: #0d1117;
  --background-rgb: 13, 17, 23;
  --border-color: #30363d;
  --sidebar-bg: #161b22;

  --font-color: #f0f6fc;
  --sub-font-color: #8b949e;

  --main-color: var(--neon-cyan);

  --canvas-bg: rgba(13, 17, 23, 0.6);
  --canvas-border: rgba(255, 255, 255, 0.1);
  --track-color: rgba(255, 255, 255, 0.05);
  --neon-primary: #00d2ff;

  --neon-font-color: #ffffff;
  --neon-border-color: var(--neon-cyan);
  --neon-background-color: var(--neon-cyan);
  --neon-shadow:
    0 0 3px #fff, 0 0 7px var(--neon-cyan), 0 0 16px var(--neon-cyan),
    0 0 36px var(--neon-cyan), 0 0 82px rgba(0, 243, 255, 0.2);
}
