:root {
  --font-color: #1a1a1a;
  --sub-font-color: #636e72;

  --neon-cyan: #00f3ff;
  --neon-pink: #ff00de;
  --neon-green: #00b894;

  --neon-transition: all 0.3s ease;
}

.light {
  --background-color: #f8f9fa;
  --background-rgb: 248, 249, 250;
  --border-color: #e9ecef;

  --font-color: #1a1a1a;
  --sub-font-color: #636e72;

  --accent-color: #686de0;

  --neon-text-color: var(--neon-greem);
  --neon-text-shadow: 0 0 2px rgba(72, 52, 212, 0.2);
}

.dark {
  --background-color: #0d1117;
  --background-rgb: 13, 17, 23;
  --border-color: #30363d;

  --font-color: #f0f6fc;
  --sub-font-color: #8b949e;

  --main-color: var(--neon-cyan);
  --accent-color: var(--neon-pink);

  --neon-text-color: #ffffff;
  --neon-text-shadow:
    0 0 7px #fff, 0 0 10px var(--neon-cyan), 0 0 21px var(--neon-cyan),
    0 0 42px var(--neon-cyan), 0 0 82px rgba(0, 243, 255, 0.2);
}
