.navbar {
  padding: 10px 20px;

  position: relative;

  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;

  cursor: pointer;
}

.navbar > :last-child {
  position: absolute;
  right: 20px;
}
