@use "@/shared/styles/variables" as *;

.header {
  height: 80px;
  padding: 10px 20px 10px 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);

  .logo {
    height: 70px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    --move-x: 0px;
    transform: translateX(var(--move-x));

    &Shift {
      --move-x: 180px;
    }

    @include button-interaction {
      filter: brightness(1.2) drop-shadow(0 0 10px var(--neon-cyan));
      transform: translateX(var(--move-x)) scale(1.05);
    }

    @media (max-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: none;
      --move-x: 0px;

      @include button-interaction {
        transform: translateX(-50%) scale(1.05);
      }
    }
  }

  .pageTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    user-select: none;
    pointer-events: none;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 4px;

    color: var(--neon-font-color);
    text-shadow: var(--neon-shadow);

    @include neon-theme-anim(2s, 3s);

    @media (max-width: 768px) {
      display: none;
    }
  }

  > :last-child {
    position: absolute;
    right: 15px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
