@use "@/shared/styles/variables" as *;

.header {
  height: 80px;
  padding: 10px 20px 10px 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);

  .logo {
    height: 70px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(1.2) drop-shadow(0 0 10px var(--neon-cyan));
      transform: scale(1.05);
    }

    :global(.light) & {
      filter: saturate(1.5);
    }
  }

  .pageTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    user-select: none;
    pointer-events: none;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 4px;

    color: var(--neon-font-color);
    text-shadow: var(--neon-shadow);

    @include neon-flicker-anim(3s);

    :global(.light) & {
      -webkit-text-stroke: 1.5px var(--neon-border-color);
      @include neon-pulse-anim(2s);
    }
  }

  > :last-child {
    position: absolute;
    right: 15px;
  }
}
